
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Monginis Cake Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="/static/css/style.css">

</head>



<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        {% include "header.html" %}
        <!-- Navbar End -->


        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Bring A Box Of<span class="text-primary"> Happiness </span>Today</h1>
                   
                   
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel owl-loaded owl-drag">
                        
                        
                    <div class="owl-stage-outer">
					<div class="owl-stage" style="transform: translate3d(-1320px, 0px, 0px); transition: all; width: 3960px;">
					<div class="owl-item cloned" style="width: 660px;">
					<div class="owl-carousel-item">
                            <img class="img-fluid" src="/static/img/carousel-1.jpg" alt="">
                        </div>
						</div>
						<div class="owl-item cloned" style="width: 660px;">
						<div class="owl-carousel-item">
                            <img class="img-fluid" src="/static/img/carousel-2.jpg" alt="">
                        </div>
						</div>
						<div class="owl-item active" style="width: 660px;">
						<div class="owl-carousel-item">
                            <img class="img-fluid" src="/static/img/carousel-1.jpg" alt="">
                        </div>
						</div>
						<div class="owl-item" style="width: 660px;">
						<div class="owl-carousel-item">
                            <img class="img-fluid" src="/static/img/carousel-2.jpg" alt="">
                        </div>
						</div>
						<div class="owl-item cloned" style="width: 660px;">
						<div class="owl-carousel-item">
                            <img class="img-fluid" src="/static/img/carousel-1.jpg" alt="">
                        </div>
						</div>
						<div class="owl-item cloned" style="width: 660px;">
						<div class="owl-carousel-item">
                            <img class="img-fluid" src="/static/img/carousel-2.jpg" alt="">
                        </div>
						</div>
						</div>
						</div>
						<div class="owl-nav">
						<div class="owl-prev">
						<i class="bi bi-chevron-left"></i>
						</div>
						<div class="owl-next">
						<i class="bi bi-chevron-right">
						</i>
						</div>
						</div>
						<div class="owl-dots">
						<div class="owl-dot active">
						
						</div>
						<div class="owl-dot">
						</div>
						</div>
						</div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Search Start -->
       <!--<div>
		  <img src="img/1.jpg" class="rounded float-start" alt="...">
		  <img src="img/2.jpg" class="rounded float-end" alt="...">        
							  
		</div>
         -->
		<div class="collage">
			<div class="img1">
				<img src="/static/img/1.jpg">
				 <a href="product.html" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"id="bt1">Order Online</a>
			</div>
			<div class="img2">
				<img src="/static/img/2.jpg">
				 <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"id="bt2">Visit Our Nearest Shop</a>
			</div>
		
		</div>
		
      
        <!-- Category Start -->
		
        <div class="container-sm" id="c2">
		<div class="t2">Shop By <span class="text-primary">Cake</span>				
		
		</div>
		<a href="product.html" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"id="bt4">View All</a>
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3"></h1>

                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="">
                                <div>
                                    <a href="{% url 'cake' %}">
                                        <img src="{% static 'img/c1.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                               <h6 class="tp1">TALL AND FANCY</h6>
                           
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a href="">
                            
                                <div>
                                    <a href="{% url 'cake' %}">
                                        <img src="{% static 'img/c2.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">EXOTIC CAKES</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a href="">
                                <div>
                                    <a href="{% url 'cake' %}">
                                        <img src="{% static 'img/c3.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">PREMIUM CAKES</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a href="">
                                <div>
                                    <a href="{% url 'cake' %}">
                                        <img src="{% static 'img/c4.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">DESIGNER CAKES</h6>
                        </a>
                    </div>
                    
        </div>
        <!-- Category End -->
		<div class="container-sm" id="c2">
		<div class="t2">Shop By <span class="text-primary">Pastry</span>				
		<a href="product.html" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"id="bt3">View All</a>
		</div>
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3"></h1>

                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="">
                                <div>
                                    <a href="{% url 'pastry' %}">
                                        <img src="{% static 'img/p1.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                               <h6 class="tp1">FREASH CREAM PASTRIES</h6>
                           
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a href="">
                            
                                <div>
                                    <a href="{% url 'pastry' %}">
                                        <img src="{% static 'img/p2.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                    </div>
                                <h6 class="tp1">CHOCOLATE PASTRIES</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a href="">
                                <div>
                                    <a href="{% url 'pastry' %}">
                                        <img src="{% static 'img/p3.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">CUP PASTRIES</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a href="">
                                <div>
                                    <a href="{% url 'pastry' %}">
                                        <img src="{% static 'img/p4.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">SWISS MISS PASTRY</h6>
                        </a>
                    </div>
                    
        </div> 
		<div class="container-sm" id="c2">
		<div class="t2">Shop By <span class="text-primary">Chocolates</span>				
		<a href="product.html" class="btn btn-primary py-3 px-5 me-3 animated fadeIn"id="bt5">View All</a>
		</div>
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3"></h1>

                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="">
                                <div>
                                    <a href="{% url 'choco' %}">
                                        <img src="{% static 'img/h1.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                               <h6 class="tp1">CHOCOLATE BAR</h6>
                           
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a href="">
                            
                                <div>
                                    <a href="{% url 'choco' %}">
                                        <img src="{% static 'img/h2.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">CHOCOLATE BOUQUETS</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a href="">
                                <div>
                                    <a href="{% url 'choco' %}">
                                        <img src="{% static 'img/h3.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">ROSE SENSATION BOUQUET</h6>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a href="">
                                <div>
                                    <a href="{% url 'choco' %}">
                                        <img src="{% static 'img/h4.jpg' %}" alt="Cake Image" id="img1">
                                    </a>
                                </div>
                                <h6 class="tp1">VELENTINE CHOCOLATE BAR</h6>
                        </a>
                    </div>
                    
        </div> 
		
        <!-- Property List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="na">New Arrivals</h1>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="order.html"><img class="img-fluid" src="/static/img/a48.jpg" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Order Now</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3"></div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">₹799</h5>
                                        <a class="d-block h5 mb-2" href="">Chocolate Bouquet</a>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="order.html"><img class="img-fluid" src="/static/img/b.jpg" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Order Now</div>

                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">₹1299</h5>
                                        <a class="d-block h5 mb-2" href="">Designer Cake</a>
                                        
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="order.html"><img class="img-fluid" src="/static/img/a2.jpg" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Order Now</div>
                                        
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">₹200</h5>
                                        <a class="d-block h5 mb-2" href="">Donuts</a>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="order.html"><img class="img-fluid" src="/static/img/a5.jpg" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Order Now</div>
                                        
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">₹119</h5>
                                        <a class="d-block h5 mb-2" href="">Muffins</a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="order.html"><img class="img-fluid" src="/static/img/a6.jpg" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Order Now</div>
                                        
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">₹430</h5>
                                        <a class="d-block h5 mb-2" href="">Brownie</a>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="order.html"><img class="img-fluid" src="/static/img/a3.jpg" alt=""></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Order Now</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">₹149</h5>
                                        <a class="d-block h5 mb-2" href="">Pastry</a>
                                    </div>  
                                </div>
                            </div>  
                        </div>
                    </div>
            </div>
        </div>
        <!-- Property List End -->

        <!-- Team Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Our Speciality</h1>
                    
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        
                            <div class="position-relative">
                                <img class="img-fluid" id="service" src="/static/img/s1.jpg" alt="">
                                
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Safe & Hygenic Bakery</h5>
                                
                            </div>
                       
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        
                            <div class="position-relative">
                                <img class="img-fluid" id="service" src="/static/img/s2.jpg" alt="">
                                
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Delivery in 700+ Cities</h5>
                                
                            </div>
                        
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                       
                            <div class="position-relative">
                                <img class="img-fluid" id="service" src="/static/img/s3.jpg" alt="">
                                
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Trusted By 20 Million</h5>
                                
                            </div>
                       
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">

                            <div class="position-relative">
                                <img class="img-fluid" id="service" src="/static/img/s4.jpg" alt="">

                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">Services in 18000+ pincodes</h5>
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- footer start -->
        {% include "footer.html" %}
        <!-- footer end-->

        


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>

</body>

</html>